*{
  margin: 0;
  padding: 0;
}

.home{
  width: 100%;
  height: 100%;
  float: left;
  margin-top:9vh;
  display: flex;
}

.side-style{
  width: 25%;
  height: 100vh;
  float: left;
  overflow-y: scroll;
  position: fixed;
  height: 90vh;

}

.home-style{
  width: 75%;
  float:left;
  margin-left: 25%;
}



/* better react app freecodecamp */
/* https://www.freecodecamp.org/news/build-better-react-apps-with-these-tricks/ */
